---
subcategory: "Cloud Content Delivery Network (CDN)"
page_title: "Yandex: {{.Name}}"
description: |-
  Get information about a Yandex Cloud CDN Raw Log configuration.
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example usage

{{ tffile "examples/cdn_raw_log/d_cdn_raw_log_1.tf" }}

## Argument Reference

{{ .SchemaMarkdown | trimspace }}
